.place__link-accent {
    color: #fff;
    text-decoration: none;
    border-bottom: #fff 1.5px solid;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }