.place__paragraph {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    margin: 0;
    padding: 26px 0 0;
  }

  .place__paragraph:first-of-type {
    padding: 0;
  }
  
  @media screen and (max-width: 840px) {
    .place__paragraph {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 520px) {
    .place__paragraph {
      padding: 25px 0 0;
      max-width: calc(100vw - 2 * 16px);
      margin: 0 auto;
      /*padding: 12px 15px 0;*/
    }
  }