.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  @media screen and (max-width: 620px) {
    .place__website {
      width: 288px;
      padding-left: 16px;
    }
  }